.card
  .card-header
    .fa.fa-book
      = link_to contract.title, contract_path(contract)
  .card-body
    = contract.description
  .card-footer
    .text-left
      = contract.estimated_price
  .card-footer
    .row
      .col-md-6
        .fa.fa-money
        = contract.price
      .col-md-6
        .text-right
          .fa.fa-signal
         
  .card-footer
    .row
      .col-md-6
        .far.fa-clock
        = contract.created_at.strftime('%d-%b-%Y')
      .col-md-6
        .text-right
          .fa.fa-chalkboard-teacher
          = contract.user.username
  .card-footer
    = link_to 'Show', contract, class: 'btn btn-sm btn-primary'
    = link_to 'Edit', edit_contract_path(contract), class: 'btn btn-sm btn-warning'
    = link_to 'Destroy', contract, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' 
   