.jumbotron
  .display-4
    Which type of contract are you looking for?
  
  .p-4

  .form-inline.my-2.my-lg-0
    = form_tag(contracts_path, method: :get) do
      .input-group
        = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"aria-hidden" => "true"}

.card-group
  .card.card-body
    %h1
      .fa.fa-building
      = Contract.count
      online Contracts
      .row
      Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-hammer
      /.fa.fa-brain
      = Contract.distinct.count(:user_id)
      expert builders
      .row
      Find the right builder for you
  .card.card-body
    %h1
      .fa.fa-hard-hat
      = User.count
      active users
      .row
      Join the knowledge sharing community
  .card.card-body
    %h1
      .fa.fa-infinity
      Lifetime access
      .row
      

%hr
  %h2
    Popular Contracts
  .card-columns
    - @contracts.each do |contract|
      = render 'contracts/contract', contract: contract

%hr
  %h2 
    Top rated Contracts
  .card-columns
    - @contracts.each do |contract|
      = render 'contracts/contract', contract: contract

%hr
  %h2 
    Latest Contracts
  .card-columns
    - @latest_contracts.each do |contract|
      = render 'contracts/contract', contract: contract

%hr

